/* from the bootstrap "grids" template that I (smalliver) used as a starting point for index.html */
/* can get rid of this at some point */
h4 {
	margin-top: 25px;
  }
  .row {
	margin-bottom: 20px;
  }
  .row .row {
	margin-top: 10px;
	margin-bottom: 0;
  }
  [class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
  }
  
  hr {
	margin-top: 40px;
	margin-bottom: 40px;
  }
  
  /* added by me */
  .transparent-grid {
	background-color: transparent;
	border: none;
  }