/* CSS for one-section is in style.css */

.the-team-container {
	display: flex;
	flex-direction: column;
	width: 95%;
}

.one-section-title {
	margin-top: 2%;
	margin-bottom: 1%;
}

.one-member-container {
	display: flex;
	flex-direction: column;
}

.team-member-text-div {
	display: flex;
	flex-direction: row;
}

.team-member-pic {
	/* max-width: 50%; */
	/* some margin at the bottom when the picture is right above the text, 
	will get rid of this margin when the viewport gets wider and the text goes to the side */
	margin-bottom: 10px;
}

/* media queries */

/* at >= 750px viewport width, set the text to display to the right of the picture */
@media (min-width: 750px) {
	.one-member-container {
	   /* TODO: make the descriptions appear to the right */
	   flex-direction: row;
	   margin-bottom: 3%;
	}

	.team-member-pic {
		margin-bottom: 1%;
		/* width: 50vw; */
	}
 
	.one-member-container > div {
	   margin-left: 15px;
	}

	.team-member-text-div {
		margin-left: 20px;
		margin-top: 20px;
	}
 }